:root {
  --green: #73AD21;
  --myCyan: #22AACC;
  --darkRed: #AA0022;
}

h1 {
  text-align: center;
  background-color: var(--myCyan);
  margin: 0;
  padding-top: 10px;
  color: #111111;
}
#GameBorder {
  margin: auto;
  width: fit-content;
  border: 10px solid var(--myCyan);
}
#GameContainer {
  margin: auto;
  width: fit-content;
  border: 5px solid #000000;
}

#LoginContainer {
  border: 3px solid #f1f1f1;
  width: fit-content;
  margin: auto;
  text-align: center;
  padding: 10px;
  background-color: lightgrey;
}
#UsernameLabel {
  color: var(--darkRed);
}
#LoginFormSpacing {
  padding-bottom: 10px;
}
#LoginButtonContainer {
  padding-top: 10px;
}
#UsernameLabelContainer {
  padding-bottom: 10px;
}
